html,body{background: #F1F3F7;font-family: PingFang SC,Hiragino Sans GB,Microsoft YaHei,STHeiti,WenQuanYi Micro Hei,Helvetica,Arial,sans-serif;color:#676767}


.blue{color:#3A9EFF}
.gbd{color:rgba(189, 204, 244, 0.5)}
.gd8{color: #D8D8D8}
.gga{color: #9A9A9A}
.gd9{color:#D9D9D9}
.topBar{height:75px;background:url(../images/index/bg.png) center; background-size:100% 100%;font-size: 0;padding:0 2%;border-bottom: 1px #48C2FF solid;z-index: 9;position: relative;}
.logo{display: inline-block;font-size: 24px;line-height: 75px;float: left}
.logoSvg svg{width: 161px;height:68px;display: inline-block;vertical-align: middle;}
.topLogo{width: 32px;min-height: 34px;margin-top:-2px;}
.topLogoCont{width: 32px;height: 32px;border-radius: 50%;overflow:hidden;display: inline-block;}
.topRight{line-height: 75px;float: right;font-size: 14px; }
.admIcon{background: url(../images/adminIcon.png);display: inline-block;}
.iconAlumni{width: 20px;height: 20px;background-position: -15px -15px;opacity: 0.8;filter:alpha(opacity=80); }
.iconAlumni:hover,.iconExit:hover{opacity:1;filter:alpha(opacity=100); }
.iconExit{width: 20px;height: 20px;background-position: -64px -15px;opacity: 0.8;filter:alpha(opacity=80); }
.minH{min-height: calc(100vh - 140px)}
.indent15{text-indent: 15px}
.tipIcon{width: 16px;height: 16px;background-position: -168px -17px;}
.tipCloseIcon{width: 20px;height: 35px;background-position: -215px -8px;}
.tipCloseIcon:hover{-webkit-filter: brightness(70%); filter: brightness(70%);}
a.wh:hover{color:#fff;text-decoration: underline;}

.lgui-table-header.fixed{position: fixed;top:0;z-index: 9}
.lgui-table-min{overflow-x: auto;}



.selectSingle a{color: #808080;display: inline-block;}
.selectSingle a:hover{color: #1365e8;}
.selectSingle span{color: #cccccc;}
.selectSingle a.on{color: #1365e8;}

.scrollbar::-webkit-scrollbar {width:6px;height:4px;}
.scrollbar::-webkit-scrollbar-track-piece {background-color:#fff;margin:0px;}
.scrollbar::-webkit-scrollbar-thumb{background:#E6E6E6;border-radius:2px;}
.scrollbar::-webkit-scrollbar-thumb:vertical:hover{background:#cecccc;}
.scrollbar::-webkit-scrollbar-thumb:horizontal:hover{background:#cecccc}

.showShadow{ box-shadow: 0 3px 8px 0 #e6e9ef;-webkit-box-shadow: 0 3px 8px 0 #e6e9ef;}

.ui-thover tr:hover td{
    border-right: 1px solid #ebf7ff;
}
.ui-table thead th {
    background-image: linear-gradient(180deg, #FCFCFC 0%, #DFE2E6 100%);
    box-shadow: inset 1px 2px 1px 0 #FFFFFF;
    border-bottom: 1px solid #cccc;
}
.ui-table[data-type='edit'] thead th {
    background-image: linear-gradient(180deg, #FCFCFC 0%, #DFE2E6 100%);
    box-shadow: inset 1px 2px 1px 0 #FFFFFF;
    border-bottom: 1px solid #cccc;
}

.ui-input.bd_none{border:0;}
.ui-button.plr10{padding-left:10px;padding-right: 10px;}
.ui-button.w86{width: 86px;min-width: 86px}
.ui-button.w120{width: 120px;min-width: 120px}
.link-up.ui-button{background-image:url(../images/upIconb.png);background-position:right;background-repeat: no-repeat;}
.link-up.down.ui-button{background-image:url(../images/downIconb.png);background-position:right;background-repeat: no-repeat;}
.link-up.ui-button:hover{background-image:url(../images/upIcon.png);}
.link-up.down.ui-button:hover{background-image:url(../images/downIcon.png)}

.pct16{width: 16%}
.pct22{width: 22%}

.resource-table .title{background: #FAFAFA;text-align: left;padding-left: 10px;}
.resource-table .cont{text-align: left;padding-left: 10px;color: #282828}
.ui-input.range[data-type='time']{padding:0;}
.ui-input.range[data-type='time'] > input:first-child{width: 40%;background: none}
.ui-input.range[data-type='time'] > input:last-child{width: 50%}


/*pageWrap*/
.pageWrap{margin: 20px auto 0;text-align: center;}
.pagegray,.arrowL,.arrowR{vertical-align:middle;width: 30px;color: #676767;height:30px;line-height: 30px;margin: 0 3px; border-radius: 2px;display: inline-block;cursor: pointer;background-color: #F1F3F7; }
.pagegray:hover,.arrowL:hover,.arrowR:hover{background-color: #F0F6FF; color: #1365E8;}
.pagegray.active{color: #fff;background-color: #1365E8;}
.arrow-left,.arrow-right{margin-top:7px;}
.pct69{width: 69%}
.pct59{width: 59%}

/*menu*/
.menu{line-height: 75px;display:inline-block;box-sizing: border-box;font-size: 16px}
.menuList{display: inline-block;color: #fff;padding:0 9px;margin:0 8px 0 0;position: relative;box-sizing: border-box;}
.menuList:last-child{margin-right: 0}
.menuList.on{background: #2172F5;color:#fff;}
.menuList:hover{background: #2172F5;}
.menuList:before{position:absolute;width:100%;height:100%;content:'';color:#fff;left:0;}
.menuList:hover:before{background:url(../images/index/lamp.png) center bottom  no-repeat;animation: breath 2s infinite ease alternate;-webkit-animation: breath 2s infinite ease alternate;-ms-animation: breath 2s infinite ease alternate;-moz-animation: breath 2s infinite ease alternate;}
.menuText{position: relative;width:100%;display: inline-block;}
.menuList:hover .menuText{color:#fff;}
@keyframes breath {
  0% {opacity: .5}
  70% {opacity: 1}
  to {opacity: .5}
}
@-webkit-keyframes breath {
  0% {opacity: .5}
  70% {opacity: 1}
  to {opacity: .5}
}
.menuList.on:before{content: '';position: absolute;width: 100%;height:4px;background: #48C2FF;bottom: 0;left: 0}
.menuList.on:hover:before{animation: none;-webkit-animation: none}
.menuConfig{display: inline-block;}
.menuhook{cursor: pointer;}
.mDetail{left:0;top:65px;position: absolute;display: none;text-align: left;z-index: 999}
.mDetailCont{margin-top:11px;padding:30px;line-height: 18px;background:url(../images/index/menubg.png) left top no-repeat;background-size:cover;}
.mDList{width: 160px;font-size: 14px;color:#fff;display: inline-block;margin-right: 50px;vertical-align: top}
.mDListTitle{border-bottom: 1px rgba(232,230,228,0.2) solid;padding-bottom: 10px;margin-bottom:5px;font-weight: bold;font-size: 16px}
.mDListShow{display: block;padding:6px 0;color:#fff;}
.mDListShow:hover{color:#48C2FF;}
.mDList:last-child{margin-right:0;}
.m_top{display: none}
.leftBar .ui-input.searchUp{background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAOBAMAAADd6iHDAAAAKlBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKE86IAAAADnRSTlMAFD47Jw8FKyMLCDQzG7FXsNUAAABfSURBVAjXY2DIOLRlAQMYsJpLihhCmMkXGBiEIcLtQMxSAGYeBCkyADM1gZhNDczciBB1AWIOiNrFAgwMQRPATEaTsAglAYjBS4zMJyoyQAAbA4MQWBiiCigMA9JADAAlHw21aNl1RAAAAABJRU5ErkJggg==');}
.pct45{width: 45%}
.fadeIn{opacity: 100;filter: alpha(opacity=100)}
.fadeOut{opacity: 0;filter: alpha(opacity=0)}
/*bar*/
.leftBar{width: 200px;box-shadow:10px 17px 20px 0px #EEF1F6;position:absolute;left:0;bottom:0;background:#FAFAFB;top:76px;transition: all 0.5s;-webkit-transition: all 0.5s;overflow-y: auto;padding-top:20px;}

.menuItem{color:#282828;margin:0px 0 10px 20px;display: inline-block;}
.menuItemText{display: inline-block;min-width: 100px;}
.smenu{display: none}
.open > .smenu{display: block;}
.imenu-indexleft{ width: 16px;height: 14px;background-position:-118px -18px;transform: rotate(-90deg);margin:15px 20px 0 0;}

.imenu-up{ width: 16px;height: 14px;background-position:-118px -18px;opacity: 0.4;filter:alpha(opacity=40);}
.open .imenu-up{transform: rotate(-180deg);-webkit-transform: rotate(-180deg);opacity: 1;filter:alpha(opacity=100);}
.smlist{display: block;line-height: 40px;height: 40px;padding-left:40px;color:#282828;position: relative;}
.smlist.on{background:#d9e8ff;color:#1365E8;}
.smlist.on:before{content:'';right:0;width: 4px;height: 40px;background:#3A9EFF;top:0;position: absolute;}
.mulfolder{padding-bottom:20px;}
.leftbarIcon{width: 20px;height: 20px;background-position:-267px -16px;}
.leftbarIcon.type1{background-position:-316px -16px;}
.leftbarIcon.type2{background-position:-366px -16px;}
.leftbarIcon.type3{background-position:-416px -16px;}
.leftbarIcon.type4{background-position:-466px -16px;}



.rightBar{position:absolute;left:200px;top:76px;right:0;box-sizing: border-box;padding:0 30px;transition: all 0.5s;-webkit-transition: all 0.5s;}
.nav{font-size: 12px;padding:10px 0;color: #282828}

/*notice*/
.noticeTip{height:37px;background:#FFF4F4;border:1px solid #EBD3D3;border-radius:3px;box-sizing: border-box;line-height: 37px;color: #FB2020}

/*index*/
.indexContent{padding:30px;overflow:hidden;box-sizing: border-box;width: 1180px;margin:0 auto;z-index: 2}
.indexCont{overflow: hidden;}
.indexContItem{height:322px;background:#fff;border-radius:6px;width: 49.25%;margin-right:1.5%;float:left;margin-bottom: 20px}
.indexContItem:nth-of-type(2n){margin-right: 0}
/*.indexContItem:last-child{width: 100%}*/
.indexContTitle{border-bottom:1px #ccc solid;box-sizing:border-box;color:#282828;font-size: 16px;line-height: 48px;height: 48px;padding-left: 15px;background-image: linear-gradient(180deg, #FCFCFC 0%, #DFE2E6 100%);box-shadow: inset 0 2px 0 0 #FFFFFF;border-radius: 6px 6px 0 0;}
.indexContNum{border-radius:50%;height:22px;line-height: 22px;color: #fff;font-size: 12px;width:22px;text-align:center;background-image: linear-gradient(145deg, #FF9797 6%, #FB2020 97%);box-shadow: 0 3px 5px 0 rgba(251,32,32,0.20);}
.indexTitlebg{background:#FCFCFC;border-top:1px #DBDBDB solid;border-bottom: 1px #DBDBDB solid;line-height: 40px;height: 40px;box-sizing: border-box;color:#ADADAD;padding:0  15px;}
.indexDetCont{height: 270px;overflow-y: auto}
.indexDetList{border-bottom: 1px #F0F0F0 solid;height: 44px;line-height: 44px;box-sizing: border-box;color: #282828;}
.indexDetList:hover{background: #DDEAFF;color: #282828;}
.waves{height: 700px;bottom: 0;width: 100%;left:0;right:0;z-index: 1;position: fixed;}


/*bLeftBar 没有左侧菜单*/
.bLeftBar .leftBar{left:-200px;}
.bLeftBar .rightBar{left:0;}
.m_first{width:120px}
/*m_status 状态表示是手机状态下*/




/*mobile*/
@media only screen and (max-width: 1100px) {
 .f12{font-size: 16px !important}
 .f14{font-size: 16px !important}
 .nav{font-size:16px !important;}
 
 .topBar .logo, .topBar .topRight{display: none;}
 .mDetailCont{max-width:220px;padding:30px 15px;line-height: 20px}
 .mDList+.mDList{margin-top:20px;}
 .menu{font-size: 16px}
 .mDList{font-size:16px;width:220px;margin-right: 0}
 .m_first{width:150px}
 .m_top{display: block;line-height:76px;height: 76px;background:url(../images/index/bg.png);min-width: 980px;box-sizing: border-box;padding:0 20px;}
 .menuList{margin-right: 5px}
 .topBar.tc{text-align: left}
 .leftBar{display: none}
 .rightBar{position: inherit;/*min-width: 1280px*/;}
 .setLeftBar{display: none}
 .m_dn{display: none}
 .indexContItem{width: 100%;margin-right: 0}
 .mDListTitle{margin-top:8px;width: 30%;display: inline-block;vertical-align: top}
 .mDListCont{width: 70%;display: inline-block;}
 .m-tabLimitSCroll .ui-table {min-width: 1400px;}
 .m-tabLimitSCroll {overflow-x: auto;}
 .indexContent{width: auto}
 .pct69{width: 42%}
 .pct59{width: 40%}
 .m_db{display: block;width: 100%}
 .m_index2{text-indent: 2em;}
 .m_index0{text-indent: 0;}
 .m_pct31{width: 55%}
 .m_pct80{width: 80%}
 .m_vt{vertical-align: top}
 .m_pct50{width: 50%}
 .m_pct9{width: 9%}
 .m_mt10{margin-top:10px;}
}


/*pc 并且小于 1280px*/




@media only screen and (max-width: 1460px) and (min-width: 1280px) {
	.topBar{padding:0 2%;}
	.logoSvg svg{width: 120px;height: 50px;}
	.logo{font-size: 18px}
	.my_name{display: none}
	.menuList{padding:0 8px;}
	.pct69{width: 60%}
	.m_pct31{width: 35%}
	.m_pct50{width: 50%}
	.pc_index2{text-indent: 2em}
	.pc_index0{text-indent: 0em}
	.pc_mt10{margin-top:10px;}
}

/* login */
.login_box{margin-top: 80px;box-sizing: border-box;}
.login_l,.login_r{height: 100%;}
.login_l{background: url('../images/login/BG.jpg') no-repeat top center;background-size: auto 100%;}
.login_logo{width: 200px;height: 74px;background: url('../images/login/logo.png') no-repeat;display: inline-block;}
.login_line{height: 50px;width: 1px;display: inline-block;margin-left:16px;background: #d9d9d9;margin-right: 15px;vertical-align: super;}
.login_txt{display: inline-block;height: 74px;line-height: 74px;vertical-align: bottom;color: #282828;}
.login_input .ui-input{width: 100%;height: 46px;line-height: 46px;}
.ui-input[data-type='logo'] >input {border: 0;outline: 0;height: 46px;line-height: 46px;vertical-align: text-bottom;height: 31px;width: 100%;box-sizing: border-box;padding-left: 30px;}
.icon-user,.icon-pas,.icon-yzma{display: inline-block;width:20px;height:20px;position: absolute;margin-top: -10px;top: 50%;}
.icon-user{background: url('../images/login/Log_icon_adm.png') no-repeat center center;}
.icon-pas{background: url('../images/login/Log_icon_PassW.png') no-repeat center center;}
.icon-yzma{background: url('../images/login/Log_icon_yzma.png') no-repeat center center;}
.yzma-input{padding-right: 110px;}
.yzma_txt{position: absolute;right: 30px;height: 34px;line-height: 34px;}
.ui-button.h46{height: 46px;line-height: 46px;}
.ui-button.f16{font-size: 16px;}
.bg-txt{position: absolute;right: 70px;bottom: 60px;}
.login_cont{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
 .login_input .ui-input:hover {
  animation: breath3 1.5s infinite ease alternate;
  -webkit-animation: breath3 1.5s infinite ease alternate;
} 


.login_reg{margin-top: 170px;}
.logo-white{
  position: absolute;
  left: 50%;
  transform: translateX(-163%);
  top: 195px;
  background-image: url(../images/login/logo-white.png);
  background-repeat: no-repeat;
  width: 157px;
  height: 74px;
  animation: breath2 2s infinite ease alternate;
  -moz-transform: translateX(-163%);
  -ms-transform: translateX(-163%);
  -o-transform: translateX(-163%);
  -webkit-transform: translateX(-163%);

  -webkit-animation: breath2 2s infinite ease alternate;
}
.logo-light{
  position: absolute;
  left: 50%;
  transform: translateX(-163%);
  top: 195px;
  background-image: url(../images/login/logo-light.png);
  background-repeat: no-repeat;
  width: 157px;
  height: 74px;
  animation: breath1 2s infinite ease alternate;
  -webkit-transform: translateX(-163%);
  -moz-transform: translateX(-163%);
  -ms-transform: translateX(-163%);
  -o-transform: translateX(-163%);
  -webkit-animation: breath1 2s infinite ease alternate;
}
.bg-txt{ width: 252px; 
  height: 83px; 
  position: absolute;
  left: 50%; 
  transform:translateX(-50%) ;
  -webkit-transform:translateX(-50%) ;
  -moz-transform:translateX(-50%) ; 
  -ms-transform:translateX(-50%) ; 
  -o-transform:translateX(-50%) ;
  }
@keyframes breath2 {
  0% {opacity: .8}
  70% {opacity: 1}
  to {opacity: .8}
}
@-webkit-keyframes breath2 {
  0% {opacity: .8}
  70% {opacity: 1}
  to {opacity: .8}
}

@keyframes breath1 {
  0% {opacity: .0}
  70% {opacity: 1}
  to {opacity: .0}
}
@-webkit-keyframes breath1 {
  0% {opacity: .0}
  70% {opacity: 1}
  to {opacity: .0}
}
@keyframes breath3 {
  0% {box-shadow: 0 3px 10px 0 rgba(47,167,255,0.07);}
  70% {box-shadow: 0 3px 10px 0 rgba(47,167,255,0.3);}
  to {box-shadow: 0 3px 10px 0 rgba(47,167,255,0.07);}
}
@media only screen and (max-width: 1280px) and (min-width: 1100px) {
	.topBar{padding:0 0.5%;}
	.logoSvg svg{width: 120px;height: 50px;}
	.logo{font-size: 18px}
	.my_name{display: none}
	.menuList{padding:0 2px;}
	.pct69{width: 60%}
	.m_pct31{width: 35%}
	.m_pct50{width: 50%}
	.pc_index2{text-indent: 2em}
	.pc_index0{text-indent: 0em}
	.pc_mt10{margin-top:10px;}
}