/*print*/

* { margin:0; padding:0; list-style:none;
}
html, body { 
	font-size:14px;
	font-family: "Microsoft YaHei","microsoft yahei","sans-serif" ;
	color:#666666;
	background:#fff;
}

.ptbshow{margin:10px 0;text-align:right;position:fixed;right:0;top:0;}
.ptbut{background: #317EE7;width: 90px;color: #fff;text-align: center;line-height: 24px;border-radius: 2px;margin-right:10px;cursor:pointer;border:0;}
.mt20{margin-top:20px}
.w_a{width:1030px;height:auto;margin:0px auto;border:0px solid #ccc;padding:0;color:#000;font-family: "microsoft yahei";}
.cent{text-align:center;margin:0 auto;}

.lght_tit1{font-size:30px;font-weight:bold;line-height:100px;padding-left:10%;font-family: "microsoft yahei";float:left}
.h120{height:120px;}
.h30{height:30px;line-height:30px;}
.f14_w{font-size:14px;font-family: "microsoft yahei";}
.f12_w{font-size:12px;font-family: "microsoft yahei";}

.pt_fl{float:left}
.pt_fr{float:right}

.imgwidth {
width: 180px;
}

/*合同打印样式*/
.f14_ws{font-size:14px;font-family: "microsoft yahei";}
.w_a4{width: 950px;height:auto;margin:0px auto;color:#000;font-family: "microsoft yahei";}
.tabPrint td{border-left:#000000 solid 1px;border-top:#000000 solid 1px;font-weight:normal;padding:3px;font-family: "microsoft yahei";}
.tabPrint th{border-left:#000000 solid 1px;border-top:#000000 solid 1px;padding:3px;font-family: "microsoft yahei";font-weight:bold}
table.tabPrint{border-right:#000000 solid 1px;border-bottom:#000000 solid 1px;caption-side: top; width: 100%; border-collapse: collapse; empty-cells: hide; }

.tabPrintbn td{border-left:#000000 solid 1px;border-bottom:#000000 solid 1px;font-weight:normal;padding:3px;font-size:16px;font-family: "microsoft yahei";white-space: nowrap;text-align:center;margin:0 auto;}
.tabPrintbn th,{border-left:#000000 solid 1px;border-bottom:#000000 solid 1px;padding:3px;font-size:16px;font-family: "microsoft yahei";font-weight:bold;white-space: nowrap;}
table.tabPrintbn{border-right:#000000 solid 1px;caption-side: top; width: 100%; border-collapse: collapse; empty-cells: hide; table-layout:fixed}
	
.b_d_g{border-bottom:1px dotted #666666;font-size: 20px;}
.httks p{margin-top:5px;padding:0;font-size: line-height:20px}

.t14 td{font-size:14px;padding:5px 0}
.t14 tr{}
table.t14{}

.t12 td{font-size:12px;padding:1px 0}
.t12 tr{}
table.t12{}

.pem2{text-indent:2em;}

/*加工单打印样式 20161009 add*/
.tabPrint_jg td{border:none;font-weight:normal;padding:3px;font-family: "microsoft yahei";}
.tabPrint_jg th{border:none;border-bottom:#000000 solid 1px;padding:3px;font-family: "microsoft yahei";text-align:left !important;background:none !important;font-weight:normal}
table.tabPrint_jg{caption-side: top;  border-collapse: collapse; empty-cells: hide;border:none;text-align:center;margin:10px auto}
